@import "tailwindcss";

html, body, #__next {
  overflow: hidden; /* prevent scrolling */
  height: 100%;
  background: white;
  color: black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* make canvas full-viewport when absolute */
canvas.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  touch-action: none; /* prevent touch scrolling while interacting */
}